/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/05/2023, 03:15:00 PM
    Author     : APRENDIZ
*/

.formularioConsulta {
    padding: 0% 10%;
}
.botonCerrar {
    background: none;
    box-shadow: none;
    margin-left: 21%; 
    margin-top: 1%;
    margin-bottom: 1%;
}
.btn btn-danger cerrarSesion {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;	  
}

.buscador-consulta {
    justify-content: center;
}

.cuadro-busqueda {
    margin: 20px 0px 20px;
    height: 40px;
}

.nav-a{
    color: white;
}

.nav-a:hover {
    color: white;
}

.nav-ul {
    margin: 13px 0px 13px;
}

.nav-h3{
    padding: 0% 0% 0% 10%;
}

